[submodule "external/integration-konnns-extension/konnns-extension"]
	path = external/integration-konnns-extension/konnns-extension
	url = https://github.com/Riikon-Team/konnns-extension
[submodule "external/integration-simple-custom-markdown-converter/simple-custom-markdown-converter"]
	path = external/integration-simple-custom-markdown-converter/simple-custom-markdown-converter
	url = https://github.com/Riikon-Team/simple-custom-markdown-converter
